:root{
    --dark-theam: rgb(58, 55, 55);
}
.darkTheam{
    background-color: var(--dark-theam);
}
main{
    --black: black;
}
main {
    width: 100vw;
    height: 100vh;
    margin: 10px;
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    margin: 10px;
    height: 90vh;
    width: 30vw;
    border: 2px solid var(--black);
}
.middle{
    margin: 10px;
    height: 90vh;
    width: 30vw;
    border: 2px solid var(--black);
}
.right{
    margin: 10px;
    height: 90vh;
    width: 30vw;
    border: 2px solid var(--black);
}
